<p>Your letters were <%= @saved_grid %>, and you made <%= @query %></p>

<!-- <p>	<%= @total.inspect %> </p>
<p><%= @included.inspect %></p> -->
<p><%= @valid %> and will get you <%= @score %> points</p>





